table {
	border: 4px solid transparent;
	font-size: 8rem;
	margin: 0 auto;
	background: #75a478;
}

table td {
	background: #d7ffd9;
	width:200px;
	text-align: center;
}

.result {	
	height: 100px;
	line-height: 100px;
	padding:30px 60px;
	text-align: right;
	color: #fff;
	background-color: #75a478;
}

.exec {
	background: #a5d6a7;
}